{
  "$schema": "https://spec.openapis.org/oas/3.2/schema/2025-09-17",
  "openapi": "3.2.0",
  "info": {
    "title": "Web",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://a.com/{type}",
      "variables": {
        "type": {
          "default": "PRODUCTION",
          "enum": [
            "PRODUCTION",
            "DEVELOPMENT"
          ]
        }
      }
    }
  ],
  "externalDocs": {
    "url": "https://a.com/external-docs"
  },
  "x-readme": {
    "some-key": "some-value"
  },
  "paths": {
    "/api/account/info": {
      "get": {
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountGetInfoSuccess"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountGetInfoException"
                }
              }
            }
          }
        },
        "tags": [
          "account"
        ],
        "operationId": "getInfo"
      }
    },
    "/api/account": {
      "delete": {
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "name": "id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {},
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountDeleteException"
                }
              }
            }
          }
        },
        "tags": [
          "account"
        ],
        "operationId": "delete"
      }
    }
  },
  "components": {
    "schemas": {
      "AccountGetInfoSuccess": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "profilePicture": {
            "type": "string"
          }
        },
        "required": [
          "email",
          "name"
        ]
      },
      "AccountGetInfoException": {
        "type": "object",
        "properties": {
          "reason": {
            "$ref": "#/components/schemas/AccountGetInfoExceptionReason"
          }
        },
        "required": [
          "reason"
        ]
      },
      "AccountGetInfoExceptionReason": {
        "type": "string",
        "enum": [
          "NOT_LOGGED_IN",
          "INVALID_ID"
        ]
      },
      "AccountDeleteException": {
        "type": "object",
        "properties": {
          "reason": {
            "$ref": "#/components/schemas/AccountDeleteExceptionReason"
          }
        },
        "required": [
          "reason"
        ]
      },
      "AccountDeleteExceptionReason": {
        "type": "string",
        "enum": [
          "NOT_LOGGED_IN_CUSTOM",
          "INVALID_ID"
        ]
      }
    }
  }
}
